*{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: steelblue;
}


input{
    width:150px;
}
#topo{
        background-color:   rgb(1,119,193);
        height: 178px;
} 
.img-logo{
    
    width: 170px;
    height: 100px;
    margin: 20px;
 
    }
#text-topo{
    position: relative;
    left: 250px;
    bottom: 90px;
    color: white;
    text-align: center;
}
#formulario{
        box-shadow: 3px 3px 3px 3px  grey;
        margin:0 auto;
        margin-top: 120px;
        border-radius: 5px;
}
#form{
        border:1px solid black;
        display: inline-block;
        margin: 0 auto;
        padding:10px;
        margin-left: 300px;
        margin-top: 220px;

    }
   
.box{
        width: 155px;
        height: 105px;
        margin: 0px 20px 20px 20px;
        border-radius: 9px;
        margin-left:15px;
        border: 1px solid gray;
        box-sizing: border-box;
        flex-shrink: 3;
       
    }
.span{
        margin-left: 70px;
        font-weight: bold;
        margin-top: 5px;
    }
.text-h3{
        margin-top: 15px;
        margin-left: 10px;
    }
#valor{
       
        margin-left: 30px;
        position: relative;
        top: 10px;
        
        color: black;
    }
.span{
       
        font-size: 15px;
        
    }
   
.container-flex{
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        
        
        
    }
.text-index{
        font-family: 'Noto Sans KR', sans-serif;
        margin: 20px;
        padding-top: 30px;
        display: inline-block;
        text-align: center;
       
    }
.small{
        margin-left: 40px;
    }
.ml-3{
        
        margin-left: 490px !important;
    }
.div-api{
        padding: 20px;
        
    }
.div-api > a{
       color: white;
       font-weight: bold;
    }


/*Responsividade CSS*/
@media only screen and (max-width:576px){
    .box{
        width: 130px;
        height: 105px;
        margin: 0px 20px 20px 20px;
        border-radius: 9px;
        margin-left: 30px
    }
    .small{
        margin-left: 0px;
    }
    .span{
       
        font-size: 15px;
        margin-left: 5px;
        
    }
    #valor{
       
        margin-left: 5px;
        position: relative;
        top: 10px;
        color: black;
    }
    .container-flex{
        margin-top: 40px;
        padding: 10px;
      
      }
    
    #formulario{
        box-shadow: 3px 3px 3px 3px  grey;
        margin:120px auto;
        margin-top: 120px;
        border-radius: 5px;
       
        
      }
      .div-api{
        padding: 20px;
        position: relative;
        right: 300px;
        width: 520px;
    }
    #text-topo{
        display: none;
       }
       .img-logo{
    
        width: 170px;
        height: 100px;
        margin-left: 180px;
 
    }

}

@media only screen and (min-width:576px) and (max-width:768px){
    .div-api{
        padding: 20px;
       position: relative;
       right:300px;
    }
    #text-topo{
        display: none;
       }
       .img-logo{
    
        width: 170px;
        height: 100px;
        margin-left: 250px;
 
    }
 
}

@media only screen and (min-width:768px) and (max-width:992px){
    .div-api{
        padding: 20px;
       position: relative;
       right: 200px;
    }
}
/*
@media only screen and (min-width:992px ) and (max-width:1200px){
 
}
@media only screen and (min-width:1200px) and (max-width:1400px){

}
@media only screen and (mix-width:1400px){

}
*/
      
    